 <form action="https://formcarry.com/s/ezGdQEvti" method="post" autocomplete="on">
            <div class="top-row">
              <div class="field-wrap">
                <input type="text" name="First Name" placeholder="First Name" autofocus required/>
              </div>
              <div class="field-wrap">
                <input type="text" name="Middle Name" placeholder="Middle Name" autofocus required/>
              </div>
              <div class="field-wrap">
                <input type="text" name="Last Name" placeholder="Last Name" required/>
              </div>
            </div>
            <div class="field-wrap">
              <input type="email" name="Email" placeholder="Email" required/>
            </div>
            <div class="field-wrap">
              <input type="tel" id="phone" name="Phone" placeholder="1234567890" pattern="[0-9]{10}">
            </div>
            <div class="field-wrap">
              <input type="date" name="Date" min="2017-04-01" max="2023-04-30" placeholder="Select date" required>
            </div>
            <div class="field-wrap">
              <input type="time" name="Time" min="12:00" max="18:00">
            </div>
            <div class="field-wrap">
              <select name="Service" id="services">
                <option value="Service 1">Service 1</option>
                <option value="Service 2">Service 2</option>
                <option value="Service 3">Service 3</option>
                <option value="Service 4">Service 4</option>
              </select>
            </div>
            <button type="submit" class="button button-block"/>Submit</button>
          </form>
